<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Debuglio</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>MusicStand_72x72.png</string>
				<string>MusicStand_512x512.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>// BigStand Setlist File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.// BigStand.setlist.stl</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>MusicStand_72x72.png</string>
				<string>MusicStand_512x512.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>// BigStand HTML Inputs</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.html</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>MusicStand_72x72.png</string>
				<string>MusicStand_512x512.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>// BigStand Zip Archives</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.archive</string>
				<string>com.pkware.zip-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>MusicStand_72x72.png</string>
				<string>MusicStand_512x512.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>// BigStand PDF Input</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>MusicStand_72x72.png</string>
				<string>MusicStand_512x512.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>// BigStand DOC Input</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.word.doc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>MusicStand_72x72.png</string>
				<string>MusicStand_512x512.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>// BigStand RTF Input</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.rtfd</string>
				<string>public.rtf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>MusicStand_72x72.png</string>
				<string>MusicStand_512x512.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>// BigStand Image GIF Input</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.compuserve.gif</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>MusicStand_72x72.png</string>
				<string>MusicStand_512x512.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>// BigStand Image PNG Input</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.png</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>MusicStand_72x72.png</string>
				<string>MusicStand_512x512.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>// BigStand Image JPEG Input</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>MusicStand_72x72.png</string>
				<string>MusicStand_512x512.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>// BigStand TXT Input</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>MusicStand_57x57.png</string>
		<string>MusicStand_72x72.png</string>
		<string>MusicStand_57x57@2x.png</string>
		<string>MusicStand_29x29.png</string>
		<string>MusicStand_50x50.png</string>
		<string>pfa57x57.png</string>
		<string>pfa114x114.png</string>
		<string>pfa72x72.png</string>
		<string>debuglio-57x57.png</string>
		<string>debuglio-114x114.png</string>
		<string>debuglio-72x72.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>MusicStand_57x57.png</string>
				<string>MusicStand_72x72.png</string>
				<string>MusicStand_57x57@2x.png</string>
				<string>MusicStand_29x29.png</string>
				<string>MusicStand_50x50.png</string>
				<string>pfa57x57.png</string>
				<string>pfa114x114.png</string>
				<string>pfa72x72.png</string>
				<string>debuglio-57x57.png</string>
				<string>debuglio-114x114.png</string>
				<string>debuglio-72x72.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>UINewsstandIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array/>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.billdonner.debuglio</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Debuglio</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.11</string>
	<key>CFBundleVersion</key>
	<string>1.11</string>
	<key>LSApplicationCategoryType</key>
	<string>Base Template</string>
	<key>LSEnvironment</key>
	<dict>
		<key>DBVersionKey</key>
		<string>0.1.5</string>
		<key>CustomAppSettingsPlist</key>
		<string>debuglio-Settings</string>
		<key>DebugTrace</key>
		<true/>
		<key>DisableMediaPlayer</key>
		<false/>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<false/>
	<key>UILaunchImageFile~ipad</key>
	<string>debuglio-114x114.png</string>
	<key>UILaunchImageFile~iphone</key>
	<string>debuglio-114x114.png</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
