<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SettingsVersion</key>
	<string>1.11</string>
	<key>MinSwVersion</key>
	<string>2.00</string>
	<key>EmailSettings</key>
	<dict>
		<key>ContactUsEmail</key>
		<dict>
			<key>EmailTo</key>
			<string>fanboy@planb10708.net</string>
			<key>EmailSubject</key>
			<string>PlanB Fan Mail</string>
			<key>EmailBody</key>
			<string>[put your own message here]</string>
			<key>EmailApplicationBanner</key>
			<string>We Love PlanB</string>
		</dict>
		<key>TellAFriendEmail</key>
		<dict>
			<key>EmailTo</key>
			<string></string>
			<key>EmailSubject</key>
			<string>Have You Got The planB App Yet?</string>
			<key>EmailBody</key>
			<string>I&apos;m enjoying this app and I think you will too. Try it, it&apos;s free. Historic planB performances are just a touch away.</string>
			<key>EmailApplicationBanner</key>
			<string>Get The planB App - It&apos;s Free</string>
		</dict>
	</dict>
	<key>ZippedDataPiles</key>
	<array>
		<string>planb-datapile.zip</string>
	</array>
	<key>StreamingSources</key>
	<array>
		<string>planBBurkes2011Dec16-minifest</string>
		<string>planBBobbys2004-minifest</string>
		<string>planBHillstock2005-minifest</string>
		<string>planBHillstock2006-minifest</string>
		<string>planBLoft2010-minifest</string>
		<string>planBStarbucks062510-minifest</string>
		<string>planBSaks2010-minifest</string>
		<string>planBPaulShaffer-minifest</string>
		<string>planBBurkes2011April23-minifest</string>
	</array>
	<key>ActionSets</key>
	<dict>
		<key>StandardActions</key>
		<dict>
			<key>Title</key>
			<string>jammin&apos; with planB</string>
			<key>ActionMenuIcons</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>ActionMenuLabels</key>
			<array>
				<string>set as wallpaper</string>
				<string>planB on Facebook</string>
				<string>tell a friend about planB</string>
			</array>
			<key>ActionMenuActions</key>
			<array>
				<string>SET-WALLPAPER</string>
				<string>SHOW-ABOUTPAGEFULL</string>
				<string>SHOW-TELLAFRIENDEMAIL</string>
			</array>
		</dict>
		<key>GalleryActions</key>
		<dict>
			<key>Title</key>
			<string>gallery</string>
			<key>ActionMenuIcons</key>
			<array>
				<string></string>
			</array>
			<key>ActionMenuLabels</key>
			<array/>
			<key>ActionMenuActions</key>
			<array/>
		</dict>
	</dict>
	<key>iPadAppSettings</key>
	<dict>
		<key>InitialPileFilter</key>
		<string>R*</string>
		<key>AllowRotations</key>
		<true/>
		<key>DisableTopTitle</key>
		<true/>
		<key>ShowPhotosFullWidth</key>
		<true/>
		<key>ShowIntroOverlay</key>
		<false/>
		<key>StartupWaitingImage</key>
		<string>textScreen_768x1004</string>
		<key>StartPageTitle</key>
		<string>Plan B Takes New York</string>
		<key>StartPushButton</key>
		<string>SHOW-MP3PLAYER</string>
		<key>FullScreenTimeout</key>
		<integer>30</integer>
		<key>FullScreenTaps</key>
		<integer>3</integer>
		<key>StartInFullScreenMode</key>
		<false/>
		<key>StripFirstTitleComponent</key>
		<true/>
		<key>DisableFooter</key>
		<false/>
		<key>DisableAppleHeader</key>
		<false/>
		<key>TransparentFooter</key>
		<false/>
		<key>SearchBarHeight</key>
		<integer>50</integer>
		<key>FooterHeight</key>
		<integer>44</integer>
		<key>AppBackgroundColor</key>
		<string>blackColor</string>
		<key>TopBackgroundColor</key>
		<string>yellowColor</string>
		<key>ColorBehindHTMLPages</key>
		<string>blackColor</string>
	</dict>
	<key>iPhoneAppSettings</key>
	<dict>
		<key>ShowPhotosFullWidth</key>
		<false/>
		<key>ShowIntroOverlay</key>
		<true/>
		<key>StartupWaitingImage</key>
		<string>textScreen_768x1004</string>
		<key>StartPageTitle</key>
		<string>Plan B Splash1</string>
		<key>FullScreenTimeout</key>
		<integer>300</integer>
		<key>StartInFullScreenMode</key>
		<false/>
		<key>StripFirstTitleComponent</key>
		<true/>
		<key>DisableFooter</key>
		<false/>
		<key>DisableAppleHeader</key>
		<false/>
		<key>TransparentFooter</key>
		<false/>
		<key>SearchBarHeight</key>
		<integer>50</integer>
		<key>FooterHeight</key>
		<integer>44</integer>
		<key>AppBackgroundColor</key>
		<string>darkGrayColor</string>
		<key>TopBackgroundColor</key>
		<string>yellowColor</string>
		<key>ColorBehindHTMLPages</key>
		<string>blackColor</string>
	</dict>
	<key>iPadMenuSettings</key>
	<dict>
		<key>ALTMENU-C</key>
		<dict>
			<key>MainTitle</key>
			<string>planB Video</string>
			<key>TitleColor</key>
			<string>blackColor</string>
			<key>RightHanded</key>
			<false/>
			<key>PileFilter</key>
			<string>C*</string>
			<key>MenuStyle</key>
			<integer>1</integer>
			<key>TagBase</key>
			<integer>1000</integer>
			<key>BackgroundColor</key>
			<string>whiteColor</string>
			<key>ThumbNailSize</key>
			<integer>100</integer>
			<key>ImageBorderSize</key>
			<integer>2</integer>
			<key>ColumnCount</key>
			<integer>2</integer>
			<key>ActionSheetRight</key>
			<string>StandardActions</string>
		</dict>
		<key>ALTMENU</key>
		<dict>
			<key>MainTitle</key>
			<string>Posters</string>
			<key>TitleColor</key>
			<string>whiteColor</string>
			<key>MenuStyle</key>
			<integer>1</integer>
			<key>TagBase</key>
			<integer>2000</integer>
			<key>RightHanded</key>
			<false/>
			<key>PileFilter</key>
			<string>R*</string>
			<key>BackgroundColor</key>
			<string>blackColor</string>
			<key>ThumbNailSize</key>
			<integer>100</integer>
			<key>ImageBorderSize</key>
			<integer>4</integer>
			<key>ColumnCount</key>
			<integer>3</integer>
			<key>ActionSheetRight</key>
			<string>StandardActions</string>
		</dict>
		<key>MAINMENU</key>
		<dict>
			<key>MainTitle</key>
			<string>planB Photos</string>
			<key>TitleColor</key>
			<string>whiteColor</string>
			<key>MenuStyle</key>
			<integer>1</integer>
			<key>RightHanded</key>
			<false/>
			<key>TagBase</key>
			<integer>3000</integer>
			<key>PileFilter</key>
			<string>W*</string>
			<key>BackgroundColor</key>
			<string>blackColor</string>
			<key>ThumbNailSize</key>
			<integer>100</integer>
			<key>ImageBorderSize</key>
			<integer>5</integer>
			<key>ColumnCount</key>
			<integer>7</integer>
			<key>ActionSheetRight</key>
			<string>StandardActions</string>
		</dict>
	</dict>
	<key>iPhoneMenuSettings</key>
	<dict>
		<key>ALTMENU-C</key>
		<dict>
			<key>MainTitle</key>
			<string>streaming audio</string>
			<key>TitleColor</key>
			<string>blackColor</string>
			<key>RightHanded</key>
			<false/>
			<key>PileFilter</key>
			<string>C*</string>
			<key>MenuStyle</key>
			<integer>1</integer>
			<key>TagBase</key>
			<integer>1000</integer>
			<key>BackgroundColor</key>
			<string>whiteColor</string>
			<key>ThumbNailSize</key>
			<integer>70</integer>
			<key>ImageBorderSize</key>
			<integer>2</integer>
			<key>ColumnCount</key>
			<integer>2</integer>
			<key>ActionSheetRight</key>
			<string>StandardActions</string>
		</dict>
		<key>ALTMENU</key>
		<dict>
			<key>MainTitle</key>
			<string>Posters</string>
			<key>TitleColor</key>
			<string>whiteColor</string>
			<key>MenuStyle</key>
			<integer>1</integer>
			<key>TagBase</key>
			<integer>2000</integer>
			<key>RightHanded</key>
			<true/>
			<key>PileFilter</key>
			<string>R*</string>
			<key>BackgroundColor</key>
			<string>blackColor</string>
			<key>ThumbNailSize</key>
			<integer>100</integer>
			<key>ImageBorderSize</key>
			<integer>4</integer>
			<key>ColumnCount</key>
			<integer>3</integer>
			<key>ActionSheetRight</key>
			<string>GalleryActions</string>
		</dict>
		<key>MAINMENU</key>
		<dict>
			<key>MainTitle</key>
			<string>planB Photo Wall</string>
			<key>TitleColor</key>
			<string>whiteColor</string>
			<key>MenuStyle</key>
			<integer>1</integer>
			<key>RightHanded</key>
			<false/>
			<key>TagBase</key>
			<integer>3000</integer>
			<key>PileFilter</key>
			<string>L*</string>
			<key>BackgroundColor</key>
			<string>blackColor</string>
			<key>ThumbNailSize</key>
			<integer>100</integer>
			<key>ImageBorderSize</key>
			<integer>5</integer>
			<key>ColumnCount</key>
			<integer>3</integer>
			<key>ActionSheetRight</key>
			<string>StandardActions</string>
		</dict>
	</dict>
	<key>iPadCornerNavSettings</key>
	<dict>
		<key>TopLeftNav</key>
		<dict>
			<key>SegmentedControl</key>
			<true/>
			<key>MenuSpacing</key>
			<integer>18</integer>
			<key>MenuTextButtonBorders</key>
			<false/>
			<key>MenuImageButtonBorders</key>
			<false/>
			<key>MenuActions</key>
			<array>
				<string>SHOW-MP3PLAYER</string>
				<string>ALTMENU-C-ACTION</string>
				<string>MAINMENU-ACTION</string>
				<string>ALTMENU-ACTION</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>audio</string>
				<string>video</string>
				<string>photos</string>
				<string>posters</string>
			</array>
		</dict>
		<key>TopRightNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>12</integer>
			<key>MenuTextButtonBorders</key>
			<false/>
			<key>MenuImageButtonBorders</key>
			<false/>
			<key>MenuActions</key>
			<array>
				<string>SHOW-MAINTITLELEFT</string>
				<string>GO-FULLSCREEN</string>
				<string>SHOW-ACTIONSHEETRIGHT</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string></string>
				<string>fullScreen_4</string>
				<string>UIBarButtonSystemItemAction</string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>title</string>
				<string>fullscreen</string>
				<string>more</string>
			</array>
		</dict>
		<key>BottomRightNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>5</integer>
			<key>MenuTextButtonBorders</key>
			<true/>
			<key>MenuImageButtonBorders</key>
			<false/>
			<key>MenuActions</key>
			<array>
				<string>NEXT2LINE-BUTTON</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string>icon-arrowRight-20x20</string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>details</string>
			</array>
		</dict>
		<key>BottomLeftNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>5</integer>
			<key>MenuTextButtonBorders</key>
			<true/>
			<key>MenuImageButtonBorders</key>
			<false/>
			<key>MenuActions</key>
			<array>
				<string>PREV2LINE-BUTTON</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string>icon-arrowLeft-20x20</string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>details</string>
			</array>
		</dict>
	</dict>
	<key>iPhoneCornerNavSettings</key>
	<dict>
		<key>TopLeftNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>12</integer>
			<key>MenuTextButtonBorders</key>
			<false/>
			<key>MenuImageButtonBorders</key>
			<false/>
			<key>MenuActions</key>
			<array>
				<string>MAINMENU-ACTION</string>
				<string>ALTMENU-C-ACTION</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string>icon-gallery-20x20</string>
				<string>icon-music-20x20</string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>menu</string>
				<string>stream</string>
			</array>
		</dict>
		<key>TopRightNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>12</integer>
			<key>MenuTextButtonBorders</key>
			<false/>
			<key>MenuImageButtonBorders</key>
			<false/>
			<key>MenuActions</key>
			<array>
				<string>OVERLAY-INFO</string>
				<string>SHOW-ACTIONSHEETRIGHT</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string>icon-info-20x20</string>
				<string>UIBarButtonSystemItemAction</string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>info</string>
				<string>more</string>
			</array>
		</dict>
		<key>BottomRightNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>5</integer>
			<key>MenuTextButtonBorders</key>
			<true/>
			<key>MenuImageButtonBorders</key>
			<false/>
			<key>MenuActions</key>
			<array>
				<string>NEXT2LINE-BUTTON</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string></string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>details</string>
			</array>
		</dict>
		<key>BottomLeftNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>5</integer>
			<key>MenuTextButtonBorders</key>
			<true/>
			<key>MenuImageButtonBorders</key>
			<false/>
			<key>MenuActions</key>
			<array>
				<string>PREV2LINE-BUTTON</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string></string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>details</string>
			</array>
		</dict>
	</dict>
	<key>iPadSpecialButtonBindings</key>
	<dict>
		<key>Title</key>
		<string>Extra buttons in special overlays and such</string>
		<key>ButtonTags</key>
		<array>
			<integer>522</integer>
			<integer>523</integer>
			<string>524</string>
		</array>
		<key>ButtonActions</key>
		<array>
			<string>MAINMENU-ACTION</string>
			<string>ALTMENU-C-ACTION</string>
			<string>ALTMENU-ACTION</string>
		</array>
	</dict>
	<key>iPhoneSpecialButtonBindings</key>
	<dict>
		<key>Title</key>
		<string>Extra iphone buttons</string>
		<key>ButtonTags</key>
		<array>
			<integer>522</integer>
			<integer>523</integer>
			<string>524</string>
			<string>525</string>
		</array>
		<key>ButtonActions</key>
		<array>
			<string>ALTMENU-A-ACTION</string>
			<string>ALTMENU-B-ACTION</string>
			<string>ALTMENU-C-ACTION</string>
			<string>ALTMENU-D-ACTION</string>
		</array>
	</dict>
	<key>iPadXibs</key>
	<dict>
		<key>IntroOverlay</key>
		<string>planBIntroOverlayiPadView</string>
		<key>InfoOverlay</key>
		<string>InfoOverlayiPadView</string>
		<key>MusicStandArchiveProps</key>
		<string>MusicStandArchivePropsiPadView</string>
	</dict>
	<key>iPhoneXibs</key>
	<dict>
		<key>IntroOverlay</key>
		<string>IntroOverlayiPhoneView</string>
		<key>InfoOverlay</key>
		<string>InfoOverlayiPhoneView</string>
		<key>MusicStandArchiveProps</key>
		<string>MusicStandArchivePropsiPhoneView</string>
	</dict>
</dict>
</plist>
