<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShovelReadyMusicKey</key>
	<string>planBSaks2010</string>
	<key>RemoteURL</key>
	<string>http://s350968899.onlinehome.us/planb/planBSaks2010/</string>
	<key>TuneBundleName</key>
	<string>planBSaks2010</string>
	<key>PerformanceDate</key>
	<string>Sept, 2010</string>
	<key>ImageURL</key>
	<string>saks.png</string>
	<key>HighlightedImageURL</key>
	<string>saksOver.png</string>
	<key>Notes</key>
	<string>Greenwich, Conn.</string>
	<key>Tunes</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Aqualung</string>
			<key>URL</key>
			<string>Aqualung.mp3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Bodhisattva</string>
			<key>URL</key>
			<string>Bodhisattva.mp3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>BornToBeWild</string>
			<key>URL</key>
			<string>BornToBeWild.mp3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>BrownSugar</string>
			<key>URL</key>
			<string>BrownSugar.mp3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>BurninLove</string>
			<key>URL</key>
			<string>BurninLove.mp3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>ColdShot</string>
			<key>URL</key>
			<string>ColdShot.mp3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>HoneyDont</string>
			<key>URL</key>
			<string>HoneyDont.mp3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>HonkeyTonkWoman</string>
			<key>URL</key>
			<string>HonkeyTonkWoman.mp3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>KeyToTheHighway</string>
			<key>URL</key>
			<string>KeyToTheHighway.mp3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>LaGrange</string>
			<key>URL</key>
			<string>LaGrange.mp3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>MagicCarpetRide</string>
			<key>URL</key>
			<string>MagicCarpetRide.mp3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>MissYou</string>
			<key>URL</key>
			<string>MissYou.mp3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>MustangSally</string>
			<key>URL</key>
			<string>MustangSally.mp3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>PaintItBlack</string>
			<key>URL</key>
			<string>PaintItBlack.mp3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>RebelRebel</string>
			<key>URL</key>
			<string>RebelRebel.mp3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Revolution</string>
			<key>URL</key>
			<string>Revolution.mp3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>RoadhouseBlueswRobShaw</string>
			<key>URL</key>
			<string>RoadhouseBlueswRobShaw.mp3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Satisfaction</string>
			<key>URL</key>
			<string>Satisfaction.mp3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>ShesNotThere</string>
			<key>URL</key>
			<string>ShesNotThere.mp3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>SultansOfSwing</string>
			<key>URL</key>
			<string>SultansOfSwing.mp3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>SweetHomeAlabama</string>
			<key>URL</key>
			<string>SweetHomeAlabama.mp3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>UnderMyThumb</string>
			<key>URL</key>
			<string>UnderMyThumb.mp3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>WalkThatWay</string>
			<key>URL</key>
			<string>WalkThatWay.mp3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>WereAnAmericanBand</string>
			<key>URL</key>
			<string>WereAnAmericanBand.mp3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>WhippingPost</string>
			<key>URL</key>
			<string>WhippingPost.mp3</string>
		</dict>
	</array>
</dict>
</plist>
