<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Nu Skool</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>nuskool-57x57.png</string>
		<string>nuskool-114x114.png</string>
		<string>nuskool-72x72.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>nuskool-57x57.png</string>
				<string>nuskool-114x114.png</string>
				<string>nuskool-72x72.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.shovelreadyapps.nuskool</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Nu Skool</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.14</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.14</string>
	<key>LSEnvironment</key>
	<dict>
		<key>DBVersionKey</key>
		<string>0.1.5</string>
		<key>CustomAppSettingsPlist</key>
		<string>nuskool-Settings</string>
		<key>DebugTrace</key>
		<true/>
		<key>DisableMediaPlayer</key>
		<false/>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchImageFile~ipad</key>
	<string>nuskoolportrait.png</string>
	<key>UILaunchImageFile~iphone</key>
	<string>nuskoolportrait.png</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
