<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ZippedDataPiles</key>
	<array>
		<string>nuskool-datapile.zip</string>
	</array>
	<key>ActionSets</key>
	<dict>
		<key>NuSkoolActions</key>
		<dict>
			<key>Title</key>
			<string>Nu Skool Options</string>
			<key>ActionMenuIcons</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>ActionMenuActions</key>
			<array>
				<string>SHOW-ABOUTPAGE</string>
				<string>SHOW-PRINTCHOOSER</string>
				<string>SET-WALLPAPER</string>
				<string>SHOW-CONTACTUSEMAIL</string>
				<string>SHOW-TELLAFRIENDEMAIL</string>
				<string>OVERLAY-INFO</string>
			</array>
			<key>ActionMenuLabels</key>
			<array>
				<string>about</string>
				<string>print</string>
				<string>wallpaper</string>
				<string>contact nu skool</string>
				<string>tell a friend</string>
				<string>info</string>
			</array>
		</dict>
	</dict>
	<key>EmailSettings</key>
	<dict>
		<key>ContactUsEmail</key>
		<dict>
			<key>EmailTo</key>
			<string>nancyd@newschool.edu</string>
			<key>EmailSubject</key>
			<string>I&apos;d like to comment on the NuSkool App</string>
			<key>EmailBody</key>
			<string>[put your own message here]</string>
			<key>EmailApplicationBanner</key>
			<string>Join Us At The Nu Skool</string>
		</dict>
		<key>TellAFriendEmail</key>
		<dict>
			<key>EmailTo</key>
			<string></string>
			<key>EmailSubject</key>
			<string>Are you Shovel Ready?</string>
			<key>EmailBody</key>
			<string>I&apos;m enjoying this app and I think you will too. Try it, it&apos;s free. It shows off what you can do with no programming at all.</string>
			<key>EmailApplicationBanner</key>
			<string>The Easiest Way To Make Brochureware</string>
		</dict>
	</dict>
	<key>iPadAppSettings</key>
	<dict>
		<key>ShowIntroOverlay</key>
		<false/>
		<key>StartupWaitingImage</key>
		<string>nuskoolportrait</string>
		<key>StartPageTitle</key>
		<string>Nu Presdents Message</string>
		<key>FullScreenTimeout</key>
		<integer>300</integer>
		<key>StartInFullScreenMode</key>
		<false/>
		<key>StripFirstTitleComponent</key>
		<true/>
		<key>DisableFooter</key>
		<false/>
		<key>DisableAppleHeader</key>
		<false/>
		<key>TransparentFooter</key>
		<false/>
		<key>SearchBarHeight</key>
		<integer>50</integer>
		<key>FooterHeight</key>
		<integer>40</integer>
		<key>AppBackgroundColor</key>
		<string>darkGrayColor</string>
		<key>TopBackgroundColor</key>
		<string>yellowColor</string>
		<key>ColorBehindHTMLPages</key>
		<string>blackColor</string>
	</dict>
	<key>iPhoneAppSettings</key>
	<dict>
		<key>ShowIntroOverlay</key>
		<false/>
		<key>StartupWaitingImage</key>
		<string>nuskoolportrait</string>
		<key>StartPageTitle</key>
		<string>Nu Presdents Message</string>
		<key>FullScreenTimeout</key>
		<integer>300</integer>
		<key>StartInFullScreenMode</key>
		<false/>
		<key>StripFirstTitleComponent</key>
		<true/>
		<key>DisableFooter</key>
		<false/>
		<key>DisableAppleHeader</key>
		<false/>
		<key>TransparentFooter</key>
		<false/>
		<key>SearchBarHeight</key>
		<integer>50</integer>
		<key>FooterHeight</key>
		<integer>40</integer>
		<key>AppBackgroundColor</key>
		<string>darkGrayColor</string>
		<key>TopBackgroundColor</key>
		<string>yellowColor</string>
		<key>ColorBehindHTMLPages</key>
		<string>blackColor</string>
	</dict>
	<key>iPadMenuSettings</key>
	<dict>
		<key>ALTMENU</key>
		<dict>
			<key>MainTitle</key>
			<string>Giving</string>
			<key>TitleColor</key>
			<string>whiteColor</string>
			<key>TitleBackgroundColor</key>
			<string>blackColor</string>
			<key>TextColor</key>
			<string>grayColor</string>
			<key>MenuStyle</key>
			<integer>2</integer>
			<key>TagBase</key>
			<integer>2000</integer>
			<key>RightHanded</key>
			<true/>
			<key>PileFilter</key>
			<string>R*</string>
			<key>ThumbNailSize</key>
			<integer>70</integer>
			<key>BackgroundColor</key>
			<string>blackColor</string>
			<key>ImageBorderSize</key>
			<integer>5</integer>
			<key>ColumnCount</key>
			<integer>3</integer>
			<key>ActionSheetRight</key>
			<string>NuSkoolActions</string>
		</dict>
		<key>MAINMENU</key>
		<dict>
			<key>MainTitle</key>
			<string>nu memes</string>
			<key>TitleColor</key>
			<string>whiteColor</string>
			<key>TitleBackgroundColor</key>
			<string>blackColor</string>
			<key>TextColor</key>
			<string>whiteColor</string>
			<key>TextBackgroundColor</key>
			<string>blackColor</string>
			<key>MenuStyle</key>
			<integer>2</integer>
			<key>RightHanded</key>
			<false/>
			<key>PileFilter</key>
			<string>L*</string>
			<key>TagBase</key>
			<integer>3000</integer>
			<key>BackgroundColor</key>
			<string>blackColor</string>
			<key>ThumbNailSize</key>
			<integer>70</integer>
			<key>ImageBorderSize</key>
			<integer>2</integer>
			<key>ColumnCount</key>
			<integer>2</integer>
			<key>ActionSheetRight</key>
			<string>NuSkoolActions</string>
		</dict>
	</dict>
	<key>iPhoneMenuSettings</key>
	<dict>
		<key>ALTMENU</key>
		<dict>
			<key>MainTitle</key>
			<string>Giving</string>
			<key>TitleColor</key>
			<string>whiteColor</string>
			<key>TitleBackgroundColor</key>
			<string>blackColor</string>
			<key>TextColor</key>
			<string>grayColor</string>
			<key>MenuStyle</key>
			<integer>2</integer>
			<key>TagBase</key>
			<integer>2000</integer>
			<key>RightHanded</key>
			<true/>
			<key>PileFilter</key>
			<string>R*</string>
			<key>ThumbNailSize</key>
			<integer>70</integer>
			<key>BackgroundColor</key>
			<string>blackColor</string>
			<key>ImageBorderSize</key>
			<integer>5</integer>
			<key>ColumnCount</key>
			<integer>3</integer>
			<key>ActionSheetRight</key>
			<string>NuSkoolActions</string>
		</dict>
		<key>MAINMENU</key>
		<dict>
			<key>MainTitle</key>
			<string>nu memes</string>
			<key>TitleColor</key>
			<string>whiteColor</string>
			<key>TitleBackgroundColor</key>
			<string>blackColor</string>
			<key>TextColor</key>
			<string>whiteColor</string>
			<key>TextBackgroundColor</key>
			<string>blackColor</string>
			<key>MenuStyle</key>
			<integer>2</integer>
			<key>RightHanded</key>
			<false/>
			<key>TagBase</key>
			<integer>3000</integer>
			<key>BackgroundColor</key>
			<string>blackColor</string>
			<key>ThumbNailSize</key>
			<integer>70</integer>
			<key>ImageBorderSize</key>
			<integer>2</integer>
			<key>ColumnCount</key>
			<integer>2</integer>
			<key>ActionSheetRight</key>
			<string>NuSkoolActions</string>
		</dict>
	</dict>
	<key>iPadCornerNavSettings</key>
	<dict>
		<key>TopLeftNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>5</integer>
			<key>MenuTextButtonBorders</key>
			<true/>
			<key>MenuImageButtonBorders</key>
			<true/>
			<key>MenuActions</key>
			<array>
				<string>MAINMENU-ACTION</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string></string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>menu</string>
			</array>
		</dict>
		<key>TopRightNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>5</integer>
			<key>MenuTextButtonBorders</key>
			<true/>
			<key>MenuImageButtonBorders</key>
			<true/>
			<key>MenuActions</key>
			<array>
				<string>ALTMENU-ACTION</string>
				<string>SHOW-ACTIONSHEETRIGHT</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string></string>
				<string>UIBarButtonSystemItemAction</string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>giving</string>
				<string>more</string>
			</array>
		</dict>
		<key>BottomLeftNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>5</integer>
			<key>MenuTextButtonBorders</key>
			<true/>
			<key>MenuImageButtonBorders</key>
			<false/>
			<key>MenuActions</key>
			<array>
				<string>PREV2LINE-BUTTON</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string></string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>details</string>
			</array>
		</dict>
		<key>BottomRightNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>5</integer>
			<key>MenuTextButtonBorders</key>
			<true/>
			<key>MenuImageButtonBorders</key>
			<false/>
			<key>MenuActions</key>
			<array>
				<string>NEXT2LINE-BUTTON</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string></string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>details</string>
			</array>
		</dict>
	</dict>
	<key>iPhoneCornerNavSettings</key>
	<dict>
		<key>TopLeftNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>5</integer>
			<key>MenuTextButtonBorders</key>
			<true/>
			<key>MenuImageButtonBorders</key>
			<true/>
			<key>MenuActions</key>
			<array>
				<string>MAINMENU-ACTION</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string></string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>menu</string>
			</array>
		</dict>
		<key>TopRightNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>5</integer>
			<key>MenuTextButtonBorders</key>
			<true/>
			<key>MenuImageButtonBorders</key>
			<true/>
			<key>MenuActions</key>
			<array>
				<string>ALTMENU-ACTION</string>
				<string>SHOW-ACTIONSHEETRIGHT</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string></string>
				<string>UIBarButtonSystemItemAction</string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>giving</string>
				<string>more</string>
			</array>
		</dict>
		<key>BottomLeftNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>5</integer>
			<key>MenuTextButtonBorders</key>
			<true/>
			<key>MenuImageButtonBorders</key>
			<false/>
			<key>MenuActions</key>
			<array>
				<string>PREV2LINE-BUTTON</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string></string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>details</string>
			</array>
		</dict>
		<key>BottomRightNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>5</integer>
			<key>MenuTextButtonBorders</key>
			<true/>
			<key>MenuImageButtonBorders</key>
			<false/>
			<key>MenuActions</key>
			<array>
				<string>NEXT2LINE-BUTTON</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string></string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>details</string>
			</array>
		</dict>
	</dict>
	<key>iPhoneSpecialButtonBindings</key>
	<dict>
		<key>Title</key>
		<string>Extra iphone buttons</string>
		<key>ButtonTags</key>
		<array>
			<integer>522</integer>
			<integer>523</integer>
			<string>524</string>
			<string>525</string>
		</array>
		<key>ButtonActions</key>
		<array>
			<string>ALTMENU-A-ACTION</string>
			<string>ALTMENU-B-ACTION</string>
			<string>ALTMENU-C-ACTION</string>
			<string>ALTMENU-D-ACTION</string>
		</array>
	</dict>
	<key>iPadSpecialButtonBindings</key>
	<dict>
		<key>Title</key>
		<string>Extra buttons in special overlays and such</string>
		<key>ButtonTags</key>
		<array>
			<integer>522</integer>
			<integer>523</integer>
			<string>524</string>
			<string>525</string>
		</array>
		<key>ButtonActions</key>
		<array>
			<string>ALTMENU-A-ACTION</string>
			<string>ALTMENU-B-ACTION</string>
			<string>ALTMENU-C-ACTION</string>
			<string>ALTMENU-D-ACTION</string>
		</array>
	</dict>
	<key>iPadXibs</key>
	<dict>
		<key>IntroOverlay</key>
		<string>IntroOverlayiPadView</string>
		<key>InfoOverlay</key>
		<string>InfoOverlayiPadView</string>
		<key>MusicStandArchiveProps</key>
		<string>MusicStandArchivePropsiPadView</string>
		<key>MusicStandAutoScrollSettings</key>
		<string>MusicStandAutoScrollSettingsiPadView</string>
		<key>MusicStandMetronomeSettings</key>
		<string>MusicStandMetronomeSettingsiPadView</string>
		<key>SetList</key>
		<string>SetListiPadView</string>
	</dict>
	<key>iPhoneXibs</key>
	<dict>
		<key>IntroOverlay</key>
		<string>IntroOverlayiPhoneView</string>
		<key>InfoOverlay</key>
		<string>InfoOverlayiPhoneView</string>
		<key>MusicStandArchiveProps</key>
		<string>MusicStandArchivePropsiPhoneView</string>
		<key>MusicStandAutoScrollSettings</key>
		<string>MusicStandAutoScrollSettingsiPhoneView</string>
		<key>MusicStandMetronomeSettings</key>
		<string>MusicStandMetronomeSettingsiPhoneView</string>
		<key>SetList</key>
		<string>SetListiiPhoneView</string>
	</dict>
	<key>SettingsVersion</key>
	<string>1.05</string>
	<key>MinSwVersion</key>
	<string>1.00</string>
</dict>
</plist>
