<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ZippedDataPiles</key>
	<array>
		<string>martoons-datapile.zip</string>
	</array>
	<key>SettingsVersion</key>
	<string>1.05</string>
	<key>MinSwVersion</key>
	<string>1.00</string>
	<key>iPadSpecialButtonBindings</key>
	<dict>
		<key>Title</key>
		<string>Extra buttons in special overlays and such</string>
		<key>ButtonTags</key>
		<array>
			<integer>522</integer>
			<integer>523</integer>
			<string>524</string>
			<string>525</string>
			<string>526</string>
			<string>527</string>
		</array>
		<key>ButtonActions</key>
		<array>
			<string>ALTMENU-A-ACTION</string>
			<string>ALTMENU-B-ACTION</string>
			<string>ALTMENU-C-ACTION</string>
			<string>ALTMENU-D-ACTION</string>
			<string>ALTMENU-E-ACTION</string>
			<string>SHOW-INSTRUCTIONSPAGE</string>
		</array>
	</dict>
	<key>iPhoneSpecialButtonBindings</key>
	<dict>
		<key>Title</key>
		<string>Extra iphone buttons</string>
		<key>ButtonTags</key>
		<array>
			<integer>522</integer>
			<integer>523</integer>
			<string>524</string>
			<string>525</string>
		</array>
		<key>ButtonActions</key>
		<array>
			<string>ALTMENU-A-ACTION</string>
			<string>ALTMENU-B-ACTION</string>
			<string>ALTMENU-C-ACTION</string>
			<string>ALTMENU-D-ACTION</string>
		</array>
	</dict>
	<key>TitlesForHiddenPages</key>
	<dict>
		<key>about.html</key>
		<string>About Martoons</string>
		<key>instructions.html</key>
		<string>First Time Up in Martoonerville</string>
	</dict>
	<key>iPadMenuSettings</key>
	<dict>
		<key>ALTMENU-A</key>
		<dict>
			<key>MainTitle</key>
			<string>Motion Graphics</string>
			<key>TitleColor</key>
			<string>whiteColor</string>
			<key>TextColor</key>
			<string>grayColor</string>
			<key>PileFilter</key>
			<string>A*</string>
			<key>RightHanded</key>
			<false/>
			<key>MenuStyle</key>
			<integer>1</integer>
			<key>ActionSheetRight</key>
			<string>RightsideMenuActions</string>
			<key>ActionSheetLeft</key>
			<string>MartoonsDivisionActions</string>
			<key>TagBase</key>
			<integer>1000</integer>
			<key>BackgroundColor</key>
			<string>blackColor</string>
			<key>ThumbNailSize</key>
			<integer>100</integer>
			<key>ImageBorderSize</key>
			<integer>5</integer>
			<key>ColumnCount</key>
			<integer>2</integer>
		</dict>
		<key>ALTMENU-B</key>
		<dict>
			<key>MainTitle</key>
			<string>Animation</string>
			<key>TitleColor</key>
			<string>whiteColor</string>
			<key>TextColor</key>
			<string>grayColor</string>
			<key>PileFilter</key>
			<string>B*</string>
			<key>RightHanded</key>
			<false/>
			<key>MenuStyle</key>
			<integer>1</integer>
			<key>ActionSheetRight</key>
			<string>RightsideMenuActions</string>
			<key>ActionSheetLeft</key>
			<string>MartoonsDivisionActions</string>
			<key>TagBase</key>
			<integer>2000</integer>
			<key>BackgroundColor</key>
			<string>blackColor</string>
			<key>ThumbNailSize</key>
			<integer>100</integer>
			<key>ImageBorderSize</key>
			<integer>5</integer>
			<key>ColumnCount</key>
			<integer>2</integer>
		</dict>
		<key>ALTMENU-C</key>
		<dict>
			<key>MainTitle</key>
			<string>Web Design</string>
			<key>TitleColor</key>
			<string>whiteColor</string>
			<key>TextColor</key>
			<string>grayColor</string>
			<key>PileFilter</key>
			<string>C*</string>
			<key>RightHanded</key>
			<false/>
			<key>MenuStyle</key>
			<integer>1</integer>
			<key>ActionSheetRight</key>
			<string>RightsideMenuActions</string>
			<key>ActionSheetLeft</key>
			<string>MartoonsDivisionActions</string>
			<key>TagBase</key>
			<integer>3000</integer>
			<key>BackgroundColor</key>
			<string>blackColor</string>
			<key>ThumbNailSize</key>
			<integer>100</integer>
			<key>ImageBorderSize</key>
			<integer>5</integer>
			<key>ColumnCount</key>
			<integer>2</integer>
		</dict>
		<key>ALTMENU-D</key>
		<dict>
			<key>MainTitle</key>
			<string>Misc</string>
			<key>TitleColor</key>
			<string>whiteColor</string>
			<key>TextColor</key>
			<string>grayColor</string>
			<key>PileFilter</key>
			<string>D*</string>
			<key>RightHanded</key>
			<false/>
			<key>MenuStyle</key>
			<integer>1</integer>
			<key>ActionSheetRight</key>
			<string>RightsideMenuActions</string>
			<key>ActionSheetLeft</key>
			<string>MartoonsDivisionActions</string>
			<key>TagBase</key>
			<integer>4000</integer>
			<key>BackgroundColor</key>
			<string>blackColor</string>
			<key>ThumbNailSize</key>
			<integer>100</integer>
			<key>ImageBorderSize</key>
			<integer>5</integer>
			<key>ColumnCount</key>
			<integer>2</integer>
		</dict>
		<key>ALTMENU-E</key>
		<dict>
			<key>MainTitle</key>
			<string>ILLUSTRATIONS</string>
			<key>TitleColor</key>
			<string>whiteColor</string>
			<key>TextColor</key>
			<string>grayColor</string>
			<key>PileFilter</key>
			<string>R*</string>
			<key>RightHanded</key>
			<false/>
			<key>MenuStyle</key>
			<integer>1</integer>
			<key>ActionSheetRight</key>
			<string>RightsideMenuActions</string>
			<key>ActionSheetLeft</key>
			<string>MartoonsDivisionActions</string>
			<key>TagBase</key>
			<integer>4000</integer>
			<key>BackgroundColor</key>
			<string>blackColor</string>
			<key>ThumbNailSize</key>
			<integer>100</integer>
			<key>ImageBorderSize</key>
			<integer>5</integer>
			<key>ColumnCount</key>
			<integer>2</integer>
		</dict>
		<key>ALTMENU</key>
		<dict>
			<key>MainTitle</key>
			<string>Gallery</string>
			<key>TitleColor</key>
			<string>redColor</string>
			<key>TextColor</key>
			<string>grayColor</string>
			<key>MenuStyle</key>
			<integer>1</integer>
			<key>ActionSheetRight</key>
			<string>GalleryActions</string>
			<key>ActionSheetLeft</key>
			<string>MartoonsDivisionActions</string>
			<key>TagBase</key>
			<integer>200</integer>
			<key>RightHanded</key>
			<true/>
			<key>PileFilter</key>
			<string>R*</string>
			<key>BackgroundColor</key>
			<string>blackColor</string>
			<key>ThumbNailSize</key>
			<integer>100</integer>
			<key>ImageBorderSize</key>
			<integer>5</integer>
			<key>ColumnCount</key>
			<integer>2</integer>
		</dict>
		<key>MAINMENU</key>
		<dict>
			<key>TitleColor</key>
			<string>whiteColor</string>
			<key>TextColor</key>
			<string>grayColor</string>
			<key>MenuStyle</key>
			<integer>1</integer>
			<key>ActionSheetLeft</key>
			<string>MartoonsDivisionActions</string>
			<key>ActionSheetRight</key>
			<string>RightsideMenuActions</string>
			<key>RightHanded</key>
			<false/>
			<key>TagBase</key>
			<integer>100</integer>
			<key>PileFilter</key>
			<string>L*</string>
			<key>BackgroundColor</key>
			<string>blackColor</string>
			<key>ThumbNailSize</key>
			<integer>100</integer>
			<key>ImageBorderSize</key>
			<integer>5</integer>
			<key>ColumnCount</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>iPhoneMenuSettings</key>
	<dict>
		<key>ALTMENU-A</key>
		<dict>
			<key>MainTitle</key>
			<string>Motion Graphics</string>
			<key>TitleColor</key>
			<string>whiteColor</string>
			<key>TextColor</key>
			<string>grayColor</string>
			<key>PileFilter</key>
			<string>A*</string>
			<key>RightHanded</key>
			<false/>
			<key>MenuStyle</key>
			<integer>1</integer>
			<key>ActionSheetRight</key>
			<string>RightsideMenuActions</string>
			<key>ActionSheetLeft</key>
			<string>MartoonsDivisionActions</string>
			<key>TagBase</key>
			<integer>1000</integer>
			<key>BackgroundColor</key>
			<string>blackColor</string>
			<key>ThumbNailSize</key>
			<integer>100</integer>
			<key>ImageBorderSize</key>
			<integer>5</integer>
			<key>ColumnCount</key>
			<integer>2</integer>
		</dict>
		<key>ALTMENU-B</key>
		<dict>
			<key>MainTitle</key>
			<string>Animation</string>
			<key>TitleColor</key>
			<string>whiteColor</string>
			<key>TextColor</key>
			<string>grayColor</string>
			<key>PileFilter</key>
			<string>B*</string>
			<key>RightHanded</key>
			<false/>
			<key>MenuStyle</key>
			<integer>1</integer>
			<key>ActionSheetRight</key>
			<string>RightsideMenuActions</string>
			<key>ActionSheetLeft</key>
			<string>MartoonsDivisionActions</string>
			<key>TagBase</key>
			<integer>2000</integer>
			<key>BackgroundColor</key>
			<string>blackColor</string>
			<key>ThumbNailSize</key>
			<integer>100</integer>
			<key>ImageBorderSize</key>
			<integer>5</integer>
			<key>ColumnCount</key>
			<integer>2</integer>
		</dict>
		<key>ALTMENU-C</key>
		<dict>
			<key>MainTitle</key>
			<string>Web Design</string>
			<key>TitleColor</key>
			<string>whiteColor</string>
			<key>TextColor</key>
			<string>grayColor</string>
			<key>PileFilter</key>
			<string>C*</string>
			<key>RightHanded</key>
			<false/>
			<key>MenuStyle</key>
			<integer>1</integer>
			<key>ActionSheetRight</key>
			<string>RightsideMenuActions</string>
			<key>ActionSheetLeft</key>
			<string>MartoonsDivisionActions</string>
			<key>TagBase</key>
			<integer>3000</integer>
			<key>BackgroundColor</key>
			<string>blackColor</string>
			<key>ThumbNailSize</key>
			<integer>100</integer>
			<key>ImageBorderSize</key>
			<integer>5</integer>
			<key>ColumnCount</key>
			<integer>2</integer>
		</dict>
		<key>ALTMENU-D</key>
		<dict>
			<key>MainTitle</key>
			<string>Misc</string>
			<key>TitleColor</key>
			<string>whiteColor</string>
			<key>TextColor</key>
			<string>grayColor</string>
			<key>PileFilter</key>
			<string>D*</string>
			<key>RightHanded</key>
			<false/>
			<key>MenuStyle</key>
			<integer>1</integer>
			<key>ActionSheetRight</key>
			<string>RightsideMenuActions</string>
			<key>ActionSheetLeft</key>
			<string>MartoonsDivisionActions</string>
			<key>TagBase</key>
			<integer>4000</integer>
			<key>BackgroundColor</key>
			<string>blackColor</string>
			<key>ThumbNailSize</key>
			<integer>100</integer>
			<key>ImageBorderSize</key>
			<integer>5</integer>
			<key>ColumnCount</key>
			<integer>2</integer>
		</dict>
		<key>ALTMENU-E</key>
		<dict>
			<key>MainTitle</key>
			<string>ILLUSTRATIONS</string>
			<key>TitleColor</key>
			<string>whiteColor</string>
			<key>TextColor</key>
			<string>grayColor</string>
			<key>PileFilter</key>
			<string>R*</string>
			<key>RightHanded</key>
			<false/>
			<key>MenuStyle</key>
			<integer>1</integer>
			<key>ActionSheetRight</key>
			<string>RightsideMenuActions</string>
			<key>ActionSheetLeft</key>
			<string>MartoonsDivisionActions</string>
			<key>TagBase</key>
			<integer>4000</integer>
			<key>BackgroundColor</key>
			<string>blackColor</string>
			<key>ThumbNailSize</key>
			<integer>100</integer>
			<key>ImageBorderSize</key>
			<integer>5</integer>
			<key>ColumnCount</key>
			<integer>2</integer>
		</dict>
		<key>ALTMENU</key>
		<dict>
			<key>MainTitle</key>
			<string>Gallery</string>
			<key>TitleColor</key>
			<string>redColor</string>
			<key>TextColor</key>
			<string>grayColor</string>
			<key>MenuStyle</key>
			<integer>1</integer>
			<key>ActionSheetRight</key>
			<string>GalleryActions</string>
			<key>ActionSheetLeft</key>
			<string>MartoonsDivisionActions</string>
			<key>TagBase</key>
			<integer>200</integer>
			<key>RightHanded</key>
			<true/>
			<key>PileFilter</key>
			<string>R*</string>
			<key>BackgroundColor</key>
			<string>blackColor</string>
			<key>ThumbNailSize</key>
			<integer>100</integer>
			<key>ImageBorderSize</key>
			<integer>5</integer>
			<key>ColumnCount</key>
			<integer>2</integer>
		</dict>
		<key>MAINMENU</key>
		<dict>
			<key>TitleColor</key>
			<string>whiteColor</string>
			<key>TextColor</key>
			<string>grayColor</string>
			<key>MenuStyle</key>
			<integer>1</integer>
			<key>ActionSheetLeft</key>
			<string>MartoonsDivisionActions</string>
			<key>ActionSheetRight</key>
			<string>RightsideMenuActions</string>
			<key>RightHanded</key>
			<false/>
			<key>TagBase</key>
			<integer>100</integer>
			<key>PileFilter</key>
			<string>L*</string>
			<key>BackgroundColor</key>
			<string>blackColor</string>
			<key>ThumbNailSize</key>
			<integer>100</integer>
			<key>ImageBorderSize</key>
			<integer>5</integer>
			<key>ColumnCount</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>EmailSettings</key>
	<dict>
		<key>ContactUsEmail</key>
		<dict>
			<key>EmailTo</key>
			<string>gmartin@martoons.com</string>
			<key>EmailSubject</key>
			<string>I&apos;m lovin&apos; your work</string>
			<key>EmailBody</key>
			<string>[put your own message here]</string>
			<key>EmailApplicationBanner</key>
			<string>We Love Martoons</string>
		</dict>
		<key>TellAFriendEmail</key>
		<dict>
			<key>EmailTo</key>
			<string></string>
			<key>EmailSubject</key>
			<string>Have You Seen Gary&apos;s App?</string>
			<key>EmailBody</key>
			<string>I&apos;m enjoying this app and I think you will too. It shows all the different media he&apos;s created.</string>
			<key>EmailApplicationBanner</key>
			<string>Martoonerville</string>
		</dict>
	</dict>
	<key>iPadAbsolutePositions</key>
	<dict>
		<key>NetworkFallbackOffsetX</key>
		<integer>100</integer>
		<key>NetworkFallbackOffsetY</key>
		<integer>200</integer>
		<key>ThumbnailOverlayOffsetX</key>
		<integer>5</integer>
		<key>ThumbnailOverlayOffsetY</key>
		<integer>5</integer>
	</dict>
	<key>iPhoneAbsolutePositions</key>
	<dict>
		<key>NetworkFallbackOffsetX</key>
		<integer>100</integer>
		<key>NetworkFallbackOffsetY</key>
		<integer>200</integer>
		<key>ThumbnailOverlayOffsetX</key>
		<integer>5</integer>
		<key>ThumbnailOverlayOffsetY</key>
		<integer>5</integer>
	</dict>
	<key>iPadXibs</key>
	<dict>
		<key>IntroOverlay</key>
		<string>MartoonsIntroOverlayiPadView</string>
		<key>InfoOverlay</key>
		<string>InfoOverlayiPadView</string>
		<key>MusicStandArchiveProps</key>
		<string>MusicStandArchivePropsiPadView</string>
	</dict>
	<key>iPhoneXibs</key>
	<dict>
		<key>IntroOverlay</key>
		<string>MartoonsIntroOverlayiPhoneView</string>
		<key>InfoOverlay</key>
		<string>InfoOverlayiPhoneView</string>
		<key>MusicStandArchiveProps</key>
		<string>MusicStandArchivePropsiPhoneView</string>
	</dict>
	<key>iPadCornerNavSettings</key>
	<dict>
		<key>BottomRightNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>5</integer>
			<key>MenuTextButtonBorders</key>
			<true/>
			<key>MenuImageButtonBorders</key>
			<false/>
			<key>MenuActions</key>
			<array>
				<string>NEXT2LINE-BUTTON</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string></string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>details</string>
			</array>
		</dict>
		<key>BottomLeftNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>5</integer>
			<key>MenuTextButtonBorders</key>
			<true/>
			<key>MenuImageButtonBorders</key>
			<false/>
			<key>MenuActions</key>
			<array>
				<string>PREV2LINE-BUTTON</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string></string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>details</string>
			</array>
		</dict>
		<key>TopLeftNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>20</integer>
			<key>MenuTextButtonBorders</key>
			<true/>
			<key>MenuImageButtonBorders</key>
			<true/>
			<key>MenuActions</key>
			<array>
				<string>OVERLAY-INTRO</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string></string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>MENU</string>
			</array>
		</dict>
		<key>TopRightNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>20</integer>
			<key>MenuTextButtonBorders</key>
			<true/>
			<key>MenuImageButtonBorders</key>
			<false/>
			<key>MenuActions</key>
			<array>
				<string>OVERLAY-INFO</string>
				<string>SHOW-ACTIONSHEETRIGHT</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string>icon_info_24x24</string>
				<string>UIBarButtonSystemItemAction</string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>info</string>
				<string>more</string>
			</array>
		</dict>
	</dict>
	<key>iPhoneCornerNavSettings</key>
	<dict>
		<key>BottomRightNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>5</integer>
			<key>MenuTextButtonBorders</key>
			<true/>
			<key>MenuImageButtonBorders</key>
			<false/>
			<key>MenuActions</key>
			<array>
				<string>NEXT2LINE-BUTTON</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string></string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>details</string>
			</array>
		</dict>
		<key>BottomLeftNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>5</integer>
			<key>MenuTextButtonBorders</key>
			<true/>
			<key>MenuImageButtonBorders</key>
			<false/>
			<key>MenuActions</key>
			<array>
				<string>PREV2LINE-BUTTON</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string></string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>details</string>
			</array>
		</dict>
		<key>TopLeftNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>20</integer>
			<key>MenuTextButtonBorders</key>
			<true/>
			<key>MenuImageButtonBorders</key>
			<true/>
			<key>MenuActions</key>
			<array>
				<string>SHOW-ACTIONSHEETLEFT</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string></string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>MENU</string>
			</array>
		</dict>
		<key>TopRightNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>5</integer>
			<key>MenuTextButtonBorders</key>
			<true/>
			<key>MenuImageButtonBorders</key>
			<false/>
			<key>MenuActions</key>
			<array>
				<string>OVERLAY-INFO</string>
				<string>SHOW-ACTIONSHEETRIGHT</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string>icon_info_24x24</string>
				<string>UIBarButtonSystemItemAction</string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>info</string>
				<string>more</string>
			</array>
		</dict>
	</dict>
	<key>AppSettings</key>
	<dict>
		<key>ShowIntroOverlay</key>
		<true/>
		<key>StartupWaitingImage</key>
		<string>martoons-768x1024</string>
		<key>StartPageTitle</key>
		<string>Welcome</string>
		<key>FullScreenTimeout</key>
		<integer>300</integer>
		<key>StartInFullScreenMode</key>
		<false/>
		<key>StripFirstTitleComponent</key>
		<true/>
		<key>DisableFooter</key>
		<false/>
		<key>DisableAppleHeader</key>
		<false/>
		<key>TransparentFooter</key>
		<false/>
		<key>SearchBarHeight</key>
		<integer>50</integer>
		<key>FooterHeight</key>
		<integer>44</integer>
		<key>AppBackgroundColor</key>
		<string>darkGrayColor</string>
		<key>TopBackgroundColor</key>
		<string>yellowColor</string>
		<key>ColorBehindHTMLPages</key>
		<string>blackColor</string>
	</dict>
	<key>ActionSets</key>
	<dict>
		<key>MartoonsDivisionActions</key>
		<dict>
			<key>Title</key>
			<string>Martoons Specialties</string>
			<key>ActionMenuLabels</key>
			<array>
				<string>Motion Graphics</string>
				<string>Animation</string>
				<string>Web Design</string>
				<string>Illustration</string>
				<string>Misc</string>
			</array>
			<key>ActionMenuIcons</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>ActionMenuActions</key>
			<array>
				<string>ALTMENU-A-ACTION</string>
				<string>ALTMENU-B-ACTION</string>
				<string>ALTMENU-C-ACTION</string>
				<string>ALTMENU-E-ACTION</string>
				<string>ALTMENU-D-ACTION</string>
			</array>
		</dict>
		<key>RightsideMenuActions</key>
		<dict>
			<key>Title</key>
			<string>Martoons Choices</string>
			<key>ActionMenuLabels</key>
			<array>
				<string>Instructions</string>
				<string>About Martoons</string>
				<string>Set Wallpaper</string>
				<string>Contact Us</string>
				<string>Tell A Friend</string>
			</array>
			<key>ActionMenuIcons</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>ActionMenuActions</key>
			<array>
				<string>SHOW-INSTRUCTIONSPAGE</string>
				<string>SHOW-ABOUTPAGE</string>
				<string>SET-WALLPAPER</string>
				<string>SHOW-CONTACTUSEMAIL</string>
				<string>SHOW-TELLAFRIENDEMAIL</string>
			</array>
		</dict>
		<key>GalleryActions</key>
		<dict>
			<key>Title</key>
			<string>Gallery Choices</string>
			<key>ActionMenuLabels</key>
			<array>
				<string>Set Wallpaper</string>
				<string>Instructions for Martoons</string>
				<string>About Martoons</string>
			</array>
			<key>ActionMenuIcons</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>ActionMenuActions</key>
			<array>
				<string>SET-WALLPAPER</string>
				<string>SHOW-INSTRUCTIONSPAGE</string>
				<string>SHOW-ABOUTPAGE</string>
			</array>
		</dict>
	</dict>
	<key>iPadAppSettings</key>
	<dict>
		<key>SingleTouchFrame</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>60</integer>
			<key>width</key>
			<integer>768</integer>
			<key>height</key>
			<integer>150</integer>
		</dict>
		<key>SingleTouchFrameLandscape</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>64</integer>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>660</integer>
		</dict>
		<key>ShowIntroOverlay</key>
		<true/>
		<key>AllowRotations</key>
		<true/>
		<key>StartupWaitingImage</key>
		<string>martoons-768x1024</string>
		<key>StartPageTitle</key>
		<string>Welcome</string>
		<key>FirstFooterSpecial</key>
		<true/>
		<key>FullScreenTimeout</key>
		<integer>300</integer>
		<key>StartInFullScreenMode</key>
		<true/>
		<key>StripFirstTitleComponent</key>
		<true/>
		<key>DisableFooter</key>
		<false/>
		<key>DisableAppleHeader</key>
		<false/>
		<key>DisableTopTitle</key>
		<true/>
		<key>TransparentFooter</key>
		<false/>
		<key>SearchBarHeight</key>
		<integer>50</integer>
		<key>FooterHeight</key>
		<integer>44</integer>
		<key>RowHeight</key>
		<integer>64</integer>
		<key>AppBackgroundColor</key>
		<string>darkGrayColor</string>
		<key>TopBackgroundColor</key>
		<string>yellowColor</string>
		<key>ColorBehindHTMLPages</key>
		<string>blackColor</string>
	</dict>
	<key>iPhoneAppSettings</key>
	<dict>
		<key>SingleTouchFrameLandscape</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>64</integer>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>660</integer>
		</dict>
		<key>SingleTouchFrame</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>40</integer>
			<key>width</key>
			<integer>768</integer>
			<key>height</key>
			<integer>150</integer>
		</dict>
		<key>AllowRotations</key>
		<false/>
		<key>ShowIntroOverlay</key>
		<true/>
		<key>StartupWaitingImage</key>
		<string>martoons-768x1024</string>
		<key>StartPageTitle</key>
		<string>Welcome</string>
		<key>FullScreenTimeout</key>
		<integer>300</integer>
		<key>StartInFullScreenMode</key>
		<true/>
		<key>StripFirstTitleComponent</key>
		<true/>
		<key>DisableFooter</key>
		<false/>
		<key>DisableAppleHeader</key>
		<false/>
		<key>DisableTopTitle</key>
		<true/>
		<key>TransparentFooter</key>
		<false/>
		<key>SearchBarHeight</key>
		<integer>50</integer>
		<key>FooterHeight</key>
		<integer>44</integer>
		<key>FirstFooterSpecial</key>
		<true/>
		<key>RowHeight</key>
		<integer>64</integer>
		<key>AppBackgroundColor</key>
		<string>darkGrayColor</string>
		<key>TopBackgroundColor</key>
		<string>yellowColor</string>
		<key>ColorBehindHTMLPages</key>
		<string>blackColor</string>
	</dict>
</dict>
</plist>
