<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iPadAppSettings</key>
	<dict>
		<key>AllowRotations</key>
		<true/>
		<key>ShowIntroOverlay</key>
		<false/>
		<key>StartupWaitingImage</key>
		<string>fruitfolio-768x1004</string>
		<key>StartPageTitle</key>
		<string>Oranges</string>
		<key>FullScreenTimeout</key>
		<integer>30</integer>
		<key>StartInFullScreenMode</key>
		<false/>
		<key>StripFirstTitleComponent</key>
		<true/>
		<key>DisableFooter</key>
		<false/>
		<key>DisableAppleHeader</key>
		<false/>
		<key>TransparentFooter</key>
		<false/>
		<key>SearchBarHeight</key>
		<integer>50</integer>
		<key>FooterHeight</key>
		<integer>44</integer>
		<key>AppBackgroundColor</key>
		<string>darkGrayColor</string>
		<key>TopBackgroundColor</key>
		<string>yellowColor</string>
		<key>ColorBehindHTMLPages</key>
		<string>blackColor</string>
		<key>ShowPhotosFullWidth</key>
		<false/>
	</dict>
	<key>iPhoneAppSettings</key>
	<dict>
		<key>ShowIntroOverlay</key>
		<false/>
		<key>StartupWaitingImage</key>
		<string>fruitfolio-768x1004</string>
		<key>StartPageTitle</key>
		<string>Oranges</string>
		<key>FullScreenTimeout</key>
		<integer>300</integer>
		<key>StartInFullScreenMode</key>
		<true/>
		<key>StripFirstTitleComponent</key>
		<true/>
		<key>DisableFooter</key>
		<false/>
		<key>DisableAppleHeader</key>
		<false/>
		<key>TransparentFooter</key>
		<false/>
		<key>SearchBarHeight</key>
		<integer>50</integer>
		<key>FooterHeight</key>
		<integer>44</integer>
		<key>AppBackgroundColor</key>
		<string>darkGrayColor</string>
		<key>TopBackgroundColor</key>
		<string>yellowColor</string>
		<key>ColorBehindHTMLPages</key>
		<string>blackColor</string>
		<key>ShowPhotosFullWidth</key>
		<false/>
	</dict>
	<key>ZippedDataPiles</key>
	<array>
		<string>fruitfolio-datapile.zip</string>
	</array>
	<key>TitlesForHiddenPages</key>
	<dict>
		<key>about.html</key>
		<string>FruitFolio by ShovelReadyApps</string>
		<key>instructions.html</key>
		<string>How To Use FruitFolio</string>
	</dict>
	<key>ActionSets</key>
	<dict>
		<key>FruitActions</key>
		<dict>
			<key>Title</key>
			<string>More Fruitfolio Choices</string>
			<key>ActionMenuActions</key>
			<array>
				<string>SHOW-ABOUTPAGEFULL</string>
				<string>SHOW-INSTRUCTIONSPAGE</string>
				<string>SHOW-TELLAFRIENDEMAIL</string>
				<string>OVERLAY-INFO</string>
				<string>SET-WALLPAPER</string>
			</array>
			<key>ActionMenuLabels</key>
			<array>
				<string>about</string>
				<string>instructions</string>
				<string>tell a friend about fruitfolio</string>
				<string>info about this photo</string>
				<string>make wallpaper from photo</string>
			</array>
			<key>ActionMenuIcons</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
		</dict>
	</dict>
	<key>iPadMenuSettings</key>
	<dict>
		<key>MAINMENU</key>
		<dict>
			<key>MainTitle</key>
			<string>featured fruits</string>
			<key>MenuStyle</key>
			<integer>1</integer>
			<key>RightHanded</key>
			<false/>
			<key>TagBase</key>
			<integer>3000</integer>
			<key>PileFilter</key>
			<string>L*</string>
			<key>BackgroundColor</key>
			<string>whiteColor</string>
			<key>ThumbNailSize</key>
			<integer>100</integer>
			<key>ImageBorderSize</key>
			<integer>4</integer>
			<key>ColumnCount</key>
			<integer>5</integer>
			<key>ActionSheetRight</key>
			<string>FruitActions</string>
		</dict>
	</dict>
	<key>iPhoneMenuSettings</key>
	<dict>
		<key>MAINMENU</key>
		<dict>
			<key>MainTitle</key>
			<string>featured fruits</string>
			<key>MenuStyle</key>
			<integer>1</integer>
			<key>RightHanded</key>
			<false/>
			<key>TagBase</key>
			<integer>3000</integer>
			<key>PileFilter</key>
			<string>L*</string>
			<key>BackgroundColor</key>
			<string>whiteColor</string>
			<key>ThumbNailSize</key>
			<integer>75</integer>
			<key>ImageBorderSize</key>
			<integer>4</integer>
			<key>ColumnCount</key>
			<integer>4</integer>
			<key>ActionSheetRight</key>
			<string>FruitActions</string>
		</dict>
	</dict>
	<key>EmailSettings</key>
	<dict>
		<key>ContactUsEmail</key>
		<dict>
			<key>EmailTo</key>
			<string>support@fruitstand.net</string>
			<key>EmailSubject</key>
			<string>desperately seeking fruit</string>
			<key>EmailBody</key>
			<string>[put your own message here]</string>
			<key>EmailApplicationBanner</key>
			<string>MORE FRUIT PLEASE</string>
		</dict>
		<key>TellAFriendEmail</key>
		<dict>
			<key>EmailTo</key>
			<string></string>
			<key>EmailAttachment</key>
			<true/>
			<key>EmailSubject</key>
			<string>Do You Like %T?</string>
			<key>EmailBody</key>
			<string>I&apos;m enjoying this app and I think you will too.  I&apos;ve attached a shot of %T which is my favorite fruit. In fact, I&apos;ve made this my wallpaper. %NTry this app, it&apos;s free. It shows off how you can create an app with no software experience.</string>
			<key>EmailApplicationBanner</key>
			<string>I Like %T</string>
		</dict>
	</dict>
	<key>iPadCornerNavSettings</key>
	<dict>
		<key>TopLeftNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>15</integer>
			<key>MenuTextButtonBorders</key>
			<true/>
			<key>MenuImageButtonBorders</key>
			<true/>
			<key>MenuActions</key>
			<array>
				<string>MAINMENU-ACTION</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string></string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>fruits</string>
			</array>
		</dict>
		<key>TopRightNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>25</integer>
			<key>MenuTextButtonBorders</key>
			<true/>
			<key>MenuImageButtonBorders</key>
			<false/>
			<key>MenuActions</key>
			<array>
				<string>OVERLAY-INFO</string>
				<string>GO-FULLSCREEN</string>
				<string>SHOW-ACTIONSHEETRIGHT</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string>icon-infoa-20x20</string>
				<string>fullScreen_4</string>
				<string>UIBarButtonSystemItemAction</string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>info</string>
				<string>fs</string>
				<string>more</string>
			</array>
		</dict>
		<key>BottomRightNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>5</integer>
			<key>MenuTextButtonBorders</key>
			<true/>
			<key>MenuImageButtonBorders</key>
			<false/>
			<key>MenuActions</key>
			<array>
				<string>NEXT2LINE-BUTTON</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string></string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>details</string>
			</array>
		</dict>
		<key>BottomLeftNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>5</integer>
			<key>MenuTextButtonBorders</key>
			<true/>
			<key>MenuImageButtonBorders</key>
			<false/>
			<key>MenuActions</key>
			<array>
				<string>PREV2LINE-BUTTON</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string></string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>details</string>
			</array>
		</dict>
	</dict>
	<key>iPhoneCornerNavSettings</key>
	<dict>
		<key>TopLeftNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>17</integer>
			<key>MenuTextButtonBorders</key>
			<true/>
			<key>MenuImageButtonBorders</key>
			<false/>
			<key>MenuActions</key>
			<array>
				<string>MAINMENU-ACTION</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string></string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>fruits</string>
			</array>
		</dict>
		<key>TopRightNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>16</integer>
			<key>MenuTextButtonBorders</key>
			<true/>
			<key>MenuImageButtonBorders</key>
			<false/>
			<key>MenuActions</key>
			<array>
				<string>SHOW-ACTIONSHEETRIGHT</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string>UIBarButtonSystemItemAction</string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>more</string>
			</array>
		</dict>
		<key>BottomRightNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>1</integer>
			<key>MenuTextButtonBorders</key>
			<true/>
			<key>MenuImageButtonBorders</key>
			<true/>
			<key>MenuActions</key>
			<array>
				<string>NEXT2LINE-BUTTON</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string></string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>details</string>
			</array>
		</dict>
		<key>xBottomCenterNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>0</integer>
			<key>MenuTextButtonBorders</key>
			<false/>
			<key>MenuImageButtonBorders</key>
			<false/>
			<key>MenuActions</key>
			<array>
				<string>SHOW-MAINTITLE</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string></string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>title</string>
			</array>
		</dict>
		<key>BottomLeftNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>1</integer>
			<key>MenuTextButtonBorders</key>
			<true/>
			<key>MenuImageButtonBorders</key>
			<true/>
			<key>MenuActions</key>
			<array>
				<string>PREV2LINE-BUTTON</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string></string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>details</string>
			</array>
		</dict>
		<key>xxTopLeftNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>1</integer>
			<key>MenuTextButtonBorders</key>
			<true/>
			<key>MenuImageButtonBorders</key>
			<false/>
			<key>MenuActions</key>
			<array>
				<string>ACTION-MOVETOPREV</string>
				<string>PREV2LINE-BUTTON</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string>icon-arrowLeft-20x20</string>
				<string></string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>left</string>
				<string>details</string>
			</array>
		</dict>
		<key>xxTopRightNav</key>
		<dict>
			<key>MenuSpacing</key>
			<integer>1</integer>
			<key>MenuTextButtonBorders</key>
			<true/>
			<key>MenuImageButtonBorders</key>
			<false/>
			<key>MenuActions</key>
			<array>
				<string>NEXT2LINE-BUTTON</string>
				<string>ACTION-MOVETONEXT</string>
			</array>
			<key>MenuIcons</key>
			<array>
				<string></string>
				<string>icon-arrowRight-20x20</string>
			</array>
			<key>MenuLabels</key>
			<array>
				<string>details</string>
				<string>right</string>
			</array>
		</dict>
	</dict>
	<key>iPadSpecialButtonBindings</key>
	<dict>
		<key>Title</key>
		<string>Extra buttons in special overlays and such</string>
		<key>ButtonTags</key>
		<array>
			<integer>522</integer>
			<integer>523</integer>
			<string>524</string>
			<string>525</string>
		</array>
		<key>ButtonActions</key>
		<array>
			<string>ALTMENU-A-ACTION</string>
			<string>ALTMENU-B-ACTION</string>
			<string>ALTMENU-C-ACTION</string>
			<string>ALTMENU-D-ACTION</string>
		</array>
	</dict>
	<key>iPhoneSpecialButtonBindings</key>
	<dict>
		<key>Title</key>
		<string>Extra iphone buttons</string>
		<key>ButtonTags</key>
		<array>
			<integer>522</integer>
			<integer>523</integer>
			<string>524</string>
			<string>525</string>
		</array>
		<key>ButtonActions</key>
		<array>
			<string>ALTMENU-A-ACTION</string>
			<string>ALTMENU-B-ACTION</string>
			<string>ALTMENU-C-ACTION</string>
			<string>ALTMENU-D-ACTION</string>
		</array>
	</dict>
	<key>iPadXibs</key>
	<dict>
		<key>IntroOverlay</key>
		<string>IntroOverlayiPadView</string>
		<key>InfoOverlay</key>
		<string>InfoOverlayiPadView</string>
	</dict>
	<key>iPhoneXibs</key>
	<dict>
		<key>IntroOverlay</key>
		<string>IntroOverlayiPhoneView</string>
		<key>InfoOverlay</key>
		<string>InfoOverlayiPhoneView</string>
	</dict>
	<key>SettingsVersion</key>
	<string>1.12</string>
	<key>MinSwVersion</key>
	<string>2.00</string>
	<key>OpeningAlert</key>
	<string>Welcome to FruitFolio. Swipe left or right for more fruit. Triple-tap for controls.</string>
</dict>
</plist>
